html {
  min-height: 100%;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  min-height: 100%;
  opacity: 1;
  color: #fdfdfd;
  text-align: center;
}

.title {
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: 600;
}

.alert-status {
  margin-bottom: 5%;
  font-size: 180px;
  font-weight: 700;
}

.weather-conditions {
  margin-bottom: 10%;
}

.highlight,
a {
  color: aquamarine;
  font-weight: 500;
}

a:hover {
  color: rgb(0, 149, 101);
}

.attribution-text {
  position: fixed;
  bottom: 0px;
  left: 10px;
}

/* .weather-info { */
/* margin-top:10%; */
/* } */
